
<div class="footer">

    <h6>Connect with me in these socials</h6>
    
    <a href="https://www.linkedin.com/in/jose-ildefonso-labayen-01013851/" class="social-link" target="_blank">
        <i class="fa-brands fa-linkedin-in socials"></i>
    </a>
    
    <a href="https://www.instagram.com/boggslabayen/?hl=en" class="social-link" target="_blank">
        <i class="fa-brands fa-instagram socials"></i>
    </a>
    
    <a href="https://twitter.com/boggslabayen" class="social-link" target="_blank">
        <i class="fa-brands fa-twitter socials"></i>
    </a>
    
    <a href="mailto:labayen.boggs@gmail.com" class="social-link" target="_blank">
        <i class="fa-regular fa-envelope socials"></i>
    </a>
    
    </div>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    