<%- include("partials/header") -%>
<body>
<%- include("partials/nav") -%>

<div class="hero-section project-cover-banner-hcph">
    <div class="content-container hero-container row">
        <div class="col-md-6">
            <img src="images/hcph/hcph10.png" alt="">
        </div>
    
        <div class="col-md-6 project-title-banner ">
            <h6 class="hero-headline">Case Study</h6>
        <h1 class="hero-headline">Rebuilding the Home Credit App</h1>
        </div>
        
    </div>
</div>


<!-- Overview Section -->

<div class="row content-container hero-container intro-writeup process-part-two">

    <div class="col-md-8">
        <h4>
            Overview
        </h4>
    
        <p class="paragraph project-description">
            For over 8 years, home credit has been established as a leading consumer finance company providing opportunities for non-credit card country to avail of gadgets and appliances through monthly installments. As the company expands its product offerings to be filipinos shopping partner, the mobile app required a refresh  and a massive design overhaul to accommodate the growth of the business and address the needs of existing and potential customers.
        </p>
    </div>
    

    <div class="col-md-4">
        <h4>
            Role
        </h4>
    
        <h6 class="paragraph process-title">
            PRODUCT DESIGNER
        </h6>
        
        <ul>
            <li>User Researcher
            <li>UI Design</li>
            <li>Prototyping</li>
            <li>Usability Testing</li>
        </ul>

        <h6 class="paragraph process-title">
            DESIGN MANAGER
        </h6>
        
        <ul>
            <li>Design Deliverables Traffic</li>
            <li>Grooming and Training designers</li>
            <li>Building Design Process</li>
        
        </ul>
    </div>
   
</div>

<!-- Overview part 2 Section -->

<div class="container-bg">
    <div class="content-container hero-container intro-writeup ">
        <h4 class="challenge-title">
            The challenge
        </h4>
    
        <div class="process-part-one" >
            <div>

                 <h3 class="paragraph-margin challenge-writeup">
                    How might we improve the My Home Credit app, to cater to the growing needs of the Business and address the users latent needs?
                 </h3>

            </div>
        
             
        </div>
    </div>
</div>


    
        <div class="process-part-two content-container hero-container intro-writeup  project-description">

            

            
    
           
            <p class="margin-top project-description">In 2017, The my home credit app is a single use app only allowing loan customers to conveniently manage their loan repayment schedule as it’s sole functionality. Once loan customers have repaid their dues, they don’t see any use  for the service or the app anymore.
                <br>
                <br>

                In 2018, Company took advantage of the shift of human behaviours in conducting their day to day activities as they become heavily dependent on technology and reliant on mobile devices. With this opportunity, the company used that as a leverage to augment the home credit experience. Using the mobile app to drive more business and generate new revenue streams
                <div class="margin-top">
                    <img src="images/hcph/hcph1.png" alt="" class="pasahero-screens">
                </div>
               
            
        </div>
    
   




<!-- Strategy Section -->
<div class="container-bg">
    <div class="content-container hero-container intro-writeup ">

        <h4 class="result-title">
            The Strategy
        </h4>
    
        <p class="paragraph-margin project-description">The challenge is beyond creating better visuals. The task is building a holistic experience that will be beneficial to both business and its customers. For us to better address the challenge, we have to see it in both (business / users) perspectives. With the overarching goal of the company of being present once in our loan customers life cycle to being part of their everyday lives as a source of great deals and discounts.</p>
        
        <div class="margin-top">
            <img src="images/hcph/hcph2.png" alt="" class="pasahero-screens">
        </div>

        <p class="challenge-title"><em><span><strong>TL;DR:</strong></span> Here’s a general approach I often use in my projects. Click <span><a href="#output">here</a></span> to skip my strategy</em></p>
    
    </div>
</div>

<div class="start-baseline">

    <div class="process-part-two content-container hero-container intro-writeup  project-description">

        <h4 class="process-title">STARTING WITH THE BASELINE</h4>


        <div class="row ">
            <p class="margin-top project-description col-md-8">We had to start the re-design approach by reaching out to the business streams and stakeholders to thoroughly understand their goals and objectives. Setting up spotlight sessions with them is a weekly activity I had to do during the first phase of the re-design.</p>

            <img src="images/hcph/hcph3.png" alt="" class="col-md-4">
        </div>
        

        <div class="margin-top">
            <img src="images/hcph/hcph4.png" alt="" class="pasahero-screens">
        </div>

        <p class="paragraph project-description">
            Aside from defining the business challenges and objectives, understanding the product offerings of each streams, their value proposition and assumptions on users are some activities I regularly do during baselining with the business.
        </p>

    </div>

        
    <div class="process-part-two content-container hero-container intro-writeup  project-description">

            <h4 class="process-title" style="margin-top: 80px;">BASELINING WITH THE USERS</h4>
        
            <p class="margin-top project-description">We had to start the re-design approach by reaching out to the business streams and stakeholders to thoroughly understand their goals and objectives. Setting up spotlight sessions with them is a weekly activity I had to do during the first phase of the re-design.</p>

            <div class="margin-top">
                <img src="images/hcph/hcph5.png" alt="" class="pasahero-screens" style="margin: 24px auto;">
            </div>

    </div>

    <div class="process-part-two content-container hero-container intro-writeup  project-description">
        <h4 class="process-title">BUILDING THE STRUCTURE</h4>


        <div class="row ">
            <p class="margin-top project-description col-md-8">From all the learnings about the users and the needs of the business, I start by working on the segmenting the information according to relevant information. This serves as the information structure aiding us in translating the idea and strategy to a tangible product.</p>

            <img src="images/hcph/hcph6.png" alt="" class="col-md-4">
        </div>
    </div>

    <div class="process-part-two content-container hero-container intro-writeup  project-description">

        <h4 class="process-title" style="margin-top: 80px;">BUILDING THE TANGIBLE PRODUCT</h4>
    
        <p class="margin-top project-description">From the created information architecture, I had to jump to series of sketching and low-fidelity wireframing to validate if the paths and navigation make sense. This also helps me find dead ends in the user journey, negative paths and error states.</p>

        <div class="margin-top">
            <img src="images/hcph/hcph7.png" alt="" class="pasahero-screens" style="margin: 24px auto;">
        </div>

    </div>

    <div class="process-part-two content-container hero-container intro-writeup  project-description">

        <h4 class="process-title" style="margin-top: 80px;">Early and Constant Validation</h4>
    
        <p class="margin-top project-description">The key to ensure that the product will provide value to our customers, Usability testing is introduced as early as possible. Sketches and wireframes are constantly tested with users by asking them to perform tasks using the created wireframes and iterate it as we spot errors and flaws along the way.</p>


    </div>

    <!-- Output Section  -->

    <div class="container-bg">
        <div class="content-container hero-container intro-writeup ">
    
            <h4 class="result-title"  id="#output">
                THE OUTPUT
            </h4>

            <div class="margin-top">
                <img src="images/hcph/hcph8.png" alt="" class="pasahero-screens" style="margin: 24px auto;">
            </div>
        
            <p class="paragraph-margin project-description">From an app that a user would use seasonally for checking of loan details to an app that user would interact on a day-to-day level.</p>
        
            <div class="margin-top">
                <img src="images/hcph/hcph9.png" alt="" class="pasahero-screens" style="margin: 24px auto;">
            </div>

        </div>
    </div>

    <!-- Result Section -->

    <div class="content-container hero-container intro-writeup process-part-two">

        <div class="">
            <h4>
                The Results
            </h4>
            <ul>
                <li class="project-description">
                    Average app open has increased 146% in a span of 9 months. With our discount program as the most used functionality of the app.
                </li>

                <li class="project-description">
                    In addition, consumer loan acquisition process has improved in terms of process duration as users can now pre-score themselves before they head to our partner stores to complete application. Average monthly loan applications from 2018 - 2020 has tripled its number.
                </li>
            </ul>

            <p><em>* Disclaimer: Results is not only attributed to the my contributions alone.</em></p>
        
        
        </div>
        
    
       
    </div>

        
        

        
       
        
           
        
    
</div>

<%- include("partials/footer") -%>
</body>
