<%- include("partials/header") -%>

<body>
    <%- include("partials/nav") -%>

        <!-- This section is for hero banner  -->

        <div class="hero-section">

            <div class="hero-container content-container">
    
                <h1 class="hero-headline">
                    Hi I’m Boggs!<br>
                    a UX Designer obsessed in creating experiences that will enrich other people’s lives .
                </h1>
        
                
                <div class="hero-scroll">
                    <a href="#work">
                    <i class="fa-solid fa-angle-down"></i>
                    </a>
                </div>
                
            </div>
    
        </div>
    
    
    
    <!-- This section is work snippet -->
    <div id="work">
    
    
        <div class="project-details content-container">
    
        <div class="row">
    
            <div class="col-md-6 title-tag">
    
                <h3>
                    Pasahero
                </h3>
        
                <p class="project-tag">MOBILE APP DESIGN</p>
    
            </div>
            
            <div class="col-md-6 description-trigger ">
                <p class="project-description">With ABS-CBN’s commitment to public service, we reimagined how we can further protect our country men when they are in transit.</p>
                <!-- <button type="button" class="btn btn-link">View Project<i class="fa-solid fa-arrow-right"></i></button> -->
                <a href="/pasahero" class="btn-link">View Project<i class="fa-solid fa-arrow-right"></i></a>
            </div>
            
    
    
        </div>
    
        <div class="project-cover">
            <img src="images/pasahero-cover.png" alt="" class="thumbnail">
        </div>
    
        </div>
    
        <div class="project-details content-container">
    
            <div class="row">
        
                <div class="col-md-6 title-tag">
        
                    <h3>
                        My Home Credit App
                    </h3>
            
                    <p class="project-tag">MOBILE APP DESIGN</p>
        
                </div>
                
                <div class="col-md-6 description-trigger ">
                    <p class="project-description">As a leading consumer finance company in the Philippines, We had to rebuild the existing mobile app to stay relevant and create an impact to our users’ daily lives.</p>
                
                    <a href="" class="btn-link">View Project<i class="fa-solid fa-arrow-right"></i></a>
                </div>
                
        
        
            </div>
        
            <div class="project-cover">
                <img src="images/myhc-cover.png" alt="" class="thumbnail">
            </div>
        
        </div>
    
        <div class="project-details content-container">
    
            <div class="row">
        
                <div class="col-md-6 title-tag">
        
                    <h3>
                        McCormmick Culinary
                    </h3>
            
                    <p class="project-tag">E-COMMERCE WEBSITE REDESIGN</p>
        
                </div>
                
                <div class="col-md-6 description-trigger ">
                    <p class="project-description">Redesigning the e-commerce site to help establish McCormmick culinary Philippines goal of becoming the professional kitchen partner.</p>
                    <!-- <button type="button" class="btn btn-link">View Project<i class="fa-solid fa-arrow-right"></i></button> -->
                    <a href="" class="btn-link">View Project<i class="fa-solid fa-arrow-right"></i></a>
                </div>
                
        
        
            </div>
        
            <div class="project-cover">
                <img src="images/Mccormmick-cover.png" alt="" class="thumbnail">
            </div>
        
        </div>
        
        <div class="project-details content-container">
        
                <div class="row">
            
                    <div class="col-md-6 title-tag">
            
                        <h3>
                            AXA Digital Products
                        </h3>
                
                        <p class="project-tag">APP DESIGN / LEAD GENERATION WEBSITE</p>
            
                    </div>
                    
                    <div class="col-md-6 description-trigger ">
                        <p class="project-description">Designed various digital products for AXA Philippines to help policy holders and financial advisors to conveniently accomplish their tasks.</p>
                        <!-- <button type="button" class="btn btn-link">View Project<i class="fa-solid fa-arrow-right"></i></button> -->
                        <a href="" class="btn-link">View Project<i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    
            
            
                </div>
            
                <div class="project-cover">
                    <img src="images/axa-cover.png" alt="" class="thumbnail">
                </div>
            
        </div>
    
    </div>






    <%- include("partials/footer") -%>

</body>