<%- include("partials/header") -%>
<body>
<%- include("partials/nav") -%>

<!-- Hero Section  -->
<div class="hero-section project-cover-banner-mc">
    <div class="content-container hero-container row">
        <div class="col-md-6">
            <img src="images/mc/mc1.png" alt="">
        </div>
    
        <div class="col-md-6 project-title-banner ">
            <h6 class="hero-headline">Case Study</h6>
        <h1 class="hero-headline">McCormick Culinary B2B <br>E-Commerce</h1>
        </div>
        
    </div>
</div>

<!-- Overview Section -->

<div class="row content-container hero-container intro-writeup process-part-two">

    <div class="col-md-8">
        <h4>
            Overview
        </h4>
    
        <p class="paragraph project-description">
            McCormick culinary Philippines has established itself as a household kitchen brand.  Being one of the most purchased ingredient brand in most supermarkets, The client envisioned to explore other platforms to contribute to their revenue. 
            <br>
            <br>
            McCormick culinary Philippines wanted to market their products through online catering to Small to Medium Restaurants. However, their existing platform does not allow them to properly manage and fulfill orders.
        </p>
    </div>
    

    <div class="col-md-4">
        <h4>
            Role
        </h4>
    
        <h6 class="paragraph process-title">
            PRODUCT DESIGNER
        </h6>
        
        <ul>
            <li>UI Design</li>
            <li>Prototyping</li>
            <li>Usability Testing</li>
        </ul>

    </div>
   
</div>

<div class="container-bg">
    <div class="content-container hero-container intro-writeup ">
        <h4 class="challenge-title">
            The challenge
        </h4>
    
        <div class="process-part-one" >
            <div>

                 <h3 class="paragraph-margin challenge-writeup">
                    How might we Improve existing E-commerce website to help increase online sales revenue and establish McCormick culinary as a professional kitchen partner?
                 </h3>

            </div>
        
             
        </div>
    </div>
</div>

<!-- Strategy -->

<div class="process-part-two content-container hero-container intro-writeup  project-description">

            
    <h4 class="process-title" style="font-weight:100">THE STRATEGY</h4>
            
    
           
    <p class="margin-top project-description">
        Concentrate on the existing e-commerce website and identify why the product is not translating into sales. Through rigorous usability inspection and task analysis, We’ve noticed a lot of bottle necks in the sales funnel.
        <br>
        <br>
        We also did  immersions and shadowing to learn internal protocols in fulfilling orders, we have learned that one of the biggest pain points of the company is the tedious manual process  and lack of automated inventory management system. 
        <br>
        <br>
        To better understand the target users of the system, we’ve had series of in-depth interviews and translate them as a user personas to serve as our guides in designing the platform.
    </p>

    <div class="margin-top">
        <img src="images/mc/mc2.png" alt="" class="pasahero-screens">
    </div>

       
    
</div>

<!-- Output -->

<div class="process-part-two content-container hero-container intro-writeup  project-description">

            

            
    <h4 class="process-title" style="font-weight:100">THE OUTPUT</h4>
           
    <p class="margin-top project-description">
        The results of our extensive research has lead us into creating a tailor made self-service systems to help the client manage product movements. As well as a re-designed E-commerce website to enable Business owners to  conveniently purchase McCormick culinary products.
    </p>

    <div class="margin-top">
        <img src="images/mc/mc3.png" alt="" class="pasahero-screens">
    </div>
    <div class="margin-top">
        <img src="images/mc/mc4.png" alt="" class="pasahero-screens">
    </div>

       
    
</div>

<%- include("partials/footer") -%>
</body>
