<%- include("partials/header") -%>

<body>
    <%- include("partials/nav") -%>

    <div class="intro-section">

        <div class="hero-container content-container row">

            <div class="col-md-8 intro-writeup">
                <h3>
                    I’m Boggs! Product Designer from the Philippines.
                 </h3>
            
                 <p class="quick-intro">
                    Hi there! thanks for spending some time to get to know me and my work. My name is <span class="name">Jose Ildefonso Labayen</span>. My experience is predominantly building digital products as a User Experience designer. I approach my design based on the emotions I want my users to have after using the product. If you like to collaborate, feel free to contact me. 
                 </p>
            </div>
            
            <div class="col-md-4 user-picture">
                <img src="images/headshot.png" alt="" class="headshot">
            </div> 
    
        </div>

    </div>

    <div class="content-container hero-container">
        
    <div class="experience-grid">
        <div class="experience-card">
            <h6 class="role">Design head</h6>
            <p class="company">Leap Froggr Inc.,</p>
            <p class="year">Apr 2022 - Present</p>
        </div>

        <div class="experience-card">
            <h6 class="role">Design head</h6>
            <p class="company">Leap Froggr Inc.,</p>
            <p class="year">Apr 2022 - Present</p>
        </div>

        <div class="experience-card">
            <h6 class="role">Design head</h6>
            <p class="company">Leap Froggr Inc.,</p>
            <p class="year">Apr 2022 - Present</p>
        </div>

        <div class="experience-card">
            <h6 class="role">Design head</h6>
            <p class="company">Leap Froggr Inc.,</p>
            <p class="year">Apr 2022 - Present</p>
        </div>

        <div class="experience-card">
            <h6 class="role">Design head</h6>
            <p class="company">Leap Froggr Inc.,</p>
            <p class="year">Apr 2022 - Present</p>
        </div>

        <div class="experience-card">
            <h6 class="role">Design head</h6>
            <p class="company">Leap Froggr Inc.,</p>
            <p class="year">Apr 2022 - Present</p>
        </div>

        <div class="experience-card">
            <h6 class="role">Design head</h6>
            <p class="company">Leap Froggr Inc.,</p>
            <p class="year">Apr 2022 - Present</p>
        </div>

        <div class="experience-card">
            <h6 class="role">Design head</h6>
            <p class="company">Leap Froggr Inc.,</p>
            <p class="year">Apr 2022 - Present</p>
        </div>

        <div class="experience-card">
            <h6 class="role">Design head</h6>
            <p class="company">Leap Froggr Inc.,</p>
            <p class="year">Apr 2022 - Present</p>
        </div>
        
    </div>


    </div>


    



    <%- include("partials/footer") -%>

</body>