<%- include("partials/header") -%>

<body>
    <%- include("partials/nav") -%>

    <div class="intro-section">

        <div class="hero-container content-container row">

            <div class="col-md-8 intro-writeup">
                <h3>
                    I’m Boggs! Product Designer from the Philippines.
                 </h3>
            
                 <p class="quick-intro">
                    Hi there! thanks for spending some time to get to know me and my work. My name is <span class="name">Jose Ildefonso Labayen</span>. My experience is predominantly building digital products as a User Experience designer. I approach my design based on the emotions I want my users to have after using the product. If you like to collaborate, feel free to contact me. 
                 </p>
            </div>
            
            <div class="col-md-4 user-picture">
                <img src="images/headshot.png" alt="" class="headshot">
            </div> 
    
        </div>

    </div>

    <div class="hero-container content-container experience-section">

        <h4>
        Experience
        </h4>
        

        <!-- <div class="row row-cols-1 row-cols-md-3 g-4 experience-grid">

        <div class="col-3">
          <div class="card h-100">

            <div class="card-body">
                <p class="year">Mar 2009 - Apr 2011</p>
                <h6 class="role">Media Editor</h6>
                <p class="company">ABS-CBN - Digital TV</p>
            </div>

          </div>
        </div>


        <div class="col-3">
            <div class="card h-100">
  
              <div class="card-body">
                  <p class="year">Mar 2009 - Apr 2011</p>
                  <h6 class="role">Media Editor</h6>
                  <p class="company">ABS-CBN - Digital TV</p>
              </div>
  
            </div>
        </div>


        <div class="col-3">
            <div class="card h-100">
  
              <div class="card-body">
                  <p class="year">Mar 2009 - Apr 2011</p>
                  <h6 class="role">Media Editor</h6>
                  <p class="company">ABS-CBN - Digital TV</p>
              </div>
  
            </div>
        </div>
  
  
        <div class="col-3">
              <div class="card h-100">
    
                <div class="card-body">
                    <p class="year">Mar 2009 - Apr 2011</p>
                    <h6 class="role">Media Editor</h6>
                    <p class="company">ABS-CBN - Digital TV</p>
                </div>
    
              </div>
        </div>

        <div class="col-3">
            <div class="card h-100">
  
              <div class="card-body">
                  <p class="year">Mar 2009 - Apr 2011</p>
                  <h6 class="role">Media Editor</h6>
                  <p class="company">ABS-CBN - Digital TV</p>
              </div>
  
            </div>
          </div>
  
  
          <div class="col-3">
              <div class="card h-100">
    
                <div class="card-body">
                    <p class="year">Mar 2009 - Apr 2011</p>
                    <h6 class="role">Media Editor</h6>
                    <p class="company">ABS-CBN - Digital TV</p>
                </div>
    
              </div>
          </div>
  
  
          <div class="col-3">
              <div class="card h-100">
    
                <div class="card-body">
                    <p class="year">Mar 2009 - Apr 2011</p>
                    <h6 class="role">Media Editor</h6>
                    <p class="company">ABS-CBN - Digital TV</p>
                </div>
    
              </div>
          </div>
    
    
          <div class="col-3">
                <div class="card h-100">
      
                  <div class="card-body">
                      <p class="year">Mar 2009 - Apr 2011</p>
                      <h6 class="role">Media Editor</h6>
                      <p class="company">ABS-CBN - Digital TV</p>
                  </div>
      
                </div>
          </div>

          <div class="col-3">
            <div class="card h-100">
  
              <div class="card-body">
                  <p class="year">Mar 2009 - Apr 2011</p>
                  <h6 class="role">Media Editor</h6>
                  <p class="company">ABS-CBN - Digital TV</p>
              </div>
  
            </div>
      </div>



        </div> -->

        <div class="experience-grid">
            <div class="experience-card">
                <h6>Head of Design</h6>
                <p>ABS-CBN Digital Brand Mgt</p>
                <p>Apr 2023 - Mar 2023</p>
            </div>
    
            <div class="experience-card">
                <h6>Head of Design</h6>
                <p>ABS-CBN Digital Brand Mgt</p>
                <p>Apr 2023 - Mar 2023</p>
            </div>
    
            <div class="experience-card">
                <h6>Head of Design</h6>
                <p>ABS-CBN Digital Brand Mgt</p>
                <p>Apr 2023 - Mar 2023</p>
            </div>

            <div class="experience-card">
                <h6>Head of Design</h6>
                <p>ABS-CBN Digital Brand Mgt</p>
                <p>Apr 2023 - Mar 2023</p>
            </div>

            <div class="experience-card">
                <h6>Head of Design</h6>
                <p>ABS-CBN Digital Brand Mgt</p>
                <p>Apr 2023 - Mar 2023</p>
            </div>

        </div>
        


    </div>

    <div class="education-training content-container hero-container">
        <div class="row">

            <div class="col-md-8">
                <h4>
                    Education & Training
                </h4>
                <div class="educ-content row">
                    <div class="col-md-3">
                        <p class="grad-year">Mar 2008</p> 
                    </div>

                    <div class="col-md-9">
                        <h6 class="course">Bachelor of arts - Major in mass communication</h6>
                        <p class="school-name">University of perpetual</p>
                        <p class="city">Manila, Philippines</p>
                    </div>

                </div>

                <div class="educ-content row">
                    <div class="col-md-3">
                        <p class="grad-year">Mar 2003</p> 
                    </div>

                    <div class="col-md-9">
                        <h6 class="course">Highschool Diploma</h6>
                        <p class="school-name">University of perpetual</p>
                        <p class="city">Manila, Philippines</p>
                    </div>

                </div>

                <div class="educ-content row">
                    <div class="col-md-3">
                        <p class="grad-year">Aug 2014</p> 
                    </div>

                    <div class="col-md-9">
                        <h6 class="course">Designing the Big: User centric Innovation and Strategy</h6>
                        <p class="school-name">Human Factors Int'l</p>
                        <p class="city">New York City, USA</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <h4>
                    Skills
                </h4>

                <div class="skill-content">
                    <ul>
                        <li>User Research / Usability testing</li>
                        <li>Ideation / Strategic Planning</li>
                        <li>UI Design / Prototyping / Wireframing</li>
                        <li>Leadership / Management</li>
                    </ul>
                </div>
            </div>


        </div>

    </div>

    <div class="row content-container  g-4 justify-content-start tool-div">

        <div class="col-md-4 tool-section">

            <h4 >Tool Set</h4>
            <p> Tools I often use in research and design</p>

        </div>

            <div class="col-md-8">
                <img src="images/figma.png" alt="" class="tool">
                <img src="images/xd.png" alt="" class="tool">
                <img src="images/ps.png" alt="" class="tool">
                <img src="images/pp.png" alt="" class="tool">
                <img src="images/maze.png" alt="" class="tool">
            </div>

            

        

    </div>

    



    <%- include("partials/footer") -%>

</body>