body{
    text-align: center;
}

h1 {
    font-size: 3.75rem;
}

h3, .navbar-brand {
    font-size: 2.5rem;
    line-height: 50px;
    font-weight: 300;
}


h4, .project-description, .btn-link {
    font-size: 1.5rem;
}

h1, h3, h4, h6, .navbar-brand {
    font-family: 'DM Serif Display', serif;
    color: #2F2D52;
}

.content-container, .experience-grid {
    width: 90%;
}

@media (min-width: 1000px) {
    .content-container {
        width: 912px;
    }
    
}

/* Navigation bar CSS */

.navbar {
    margin: 0 10%;
}

.nav-link {
    font-family: 'Outfit';
    font-weight: 500;
    margin: 0 40px;
    color: #2F2D52;
}

.nav-link:hover {
    font-family: 'Outfit';
    font-weight: 500;
    margin: 0 40px;
    color: #8681EB;
}


@media (max-width: 768px) {
    .navbar {
        margin: 0 0px;
    }

}

/* Hero Section CSS */

.hero-section {
    background-color: #2F2D52;
    padding: 160px 0;
}

.hero-headline, .fa-angle-down, .hero-link {
    color: #ffffff;
}

.hero-scroll {
    margin-top: 56px;
}


.fa-angle-down {
    font-size: 40px;
}

.hero-link {
    font-family: 'Outfit';
    font-style: normal;
    font-size: 16px; 
    font-weight: 200;
    line-height: 20px;
}

.hero-container {
    margin: 0 auto;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .hero-section {
        background-color: #2F2D52;
        padding: 80px 0;
    }


}






/* Work Snippets CSS */

.project-details {
    margin: 100px auto;
}

.project-tag {
    font-weight: 200;
    color: #5C5B6B;
    line-height: 20px;
}


.project-description {
    font-family: 'Outfit';
    font-weight: 200;
    line-height: 40px;
}

.challenge-writeup {
    font-family: 'Outfit';
    text-align: center;
}



.btn-link {
    color: #5B579E;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    line-height: 40px;
    align-items: center;
}

.fa-arrow-right {
    margin-left: 8px;
    font-size: 24px;;
}

.btn-link:hover {
    color: #2F2D52;
}


.title-tag, .description-trigger {
    text-align: left;
}

.project-cover {
    margin-top: 16px;
    padding: 3% 0;
}

.thumbnail {
    width: 100%;
}

@media (max-width: 768px) {
    .project-description{ 
        font-size: 1rem;
    }
}


/* Footer CSS */

.socials {
    margin: 16px 16px;
    color: #2F2D52;
    font-size: 24px;
}

.social-link {
    text-decoration: none;
    padding: 24px 0px;;
}




/* Resume Css */

.intro-section {
    padding: 100px 0;
}

.intro-writeup {
    text-align: left;
}



.quick-intro {
    font-family: 'Outfit';
    font-size: 1rem;
    font-weight: 250;
    line-height: 26px;
}


h4 {
    text-align: left;
}


.role {
    margin: 0 auto;
    color:#2F2D52;
    font-family: 'Outfit';
}

.company {
    font-weight: 200;
    font-family: 'Outfit';
    color: #5C5B6B;
}


.year {
    color:#2F2D52;
    font-family: 'Outfit';
}

/* .card-link {
    text-decoration: none;
} */



.experience-card {
    padding: 24px 0;
    border: 1px solid;
    border-radius: 8px;
    margin: 8px 4px;;
    width: 30%;
    display: inline-block;
    
}

.experience-grid {
width: 100%;
margin-top: 24px;
display: flex;
flex-wrap: wrap;
justify-content:center;
}

@media (max-width: 768px) {


    .company {
        margin-bottom: 0;
    }

    .experience-card {
        width: 43%;
    }

    .headshot {
        width: 40%;
        float: left;
    }

    .intro-section {
        padding: 60px 0;
    }
    
  
}

.education-training {
    margin-top: 60px;
}

.educ-content {
    padding: 12px;
}

.course, .school-name, .city, li {
    text-align: left;
    font-family: 'Outfit';
}


.city {
    font-weight: 200;
    color: #5C5B6B;
}

.grad-year {
    text-align: left;
}

.skill-content {
    text-align: left;
}

li {
    margin-top: 24px;
}

.tool {
    width: 15%;
    margin: 40px;

}

.tool-section {
    text-align: left;
    
}

.tool-div {
    margin: 0 auto 120px auto;
}

/* work-css */

.container-bg {
    background-color: #5C5B6B;
    color: #ffffff;
    padding: 80px 0;;
}

.result-title {
    color: #ffffff;
}

.challenge-title {
    color: #ffffff;
    text-align: center;
}

.paragraph-margin {
    margin-top: 24px;
    color: #ffffff;
}

.paragraph {
    margin-top:
}

.process-title {
    font-family: 'Outfit';
    font-weight: 250;
    line-height: 26px;
    margin-top: 24px;
}

.process-part-two {
    margin: 80px auto;
}

.img-support {
    margin-top: 24px;
    width: 50%;
}

@media (max-width: 768px) {
    .pasahero-screens {
        width: 90%;
    }
}

.project-title-banner {
    text-align: left;
}

.project-cover-banner {
    background-image: url("../images/pasahero/citylights.jpeg");
    background-size: cover;
    background-blend-mode: multiply;
}

.project-cover-banner-hcph {
    background-image: url("../images/hcph/hcph-family.jpeg");
    background-size: cover;
    background-blend-mode: multiply;
}


.button {
    width: 40%;
}

.margin-top {
    margin-top: 24px;
}










